:global {
  :local(.NodeList) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
    justify-content: space-around;
    width: 100%;
    height: 600px;
    margin-top: 10px;
    overflow: auto;
    font-size: 13px;
    color: var(--bf-tx-body);

    > div {
      box-sizing: border-box;
      width: 300px;
      padding: 15px;
      cursor: pointer;
      background-color: var(--bf-bg-side);
      border: 1px solid #eee;
      border-radius: var(--bf-rd-card);

      &:hover {
        background-color: #fff;
        box-shadow: var(--bf-sd-card);
      }
    }

    &:global(__hd) {
      position: relative;
      padding-bottom: 10px;
      padding-left: 42px;
      line-height: 1.4;
      border-bottom: 1px solid var(--bf-bd-tr);

      > .icon {
        position: absolute;
        width: 32px;
        height: 32px;
        margin-top: 1px;
        margin-left: -42px;
      }

      > .name {
        padding-bottom: 1px;
        font-weight: 600;
      }

      > .type {
        font-size: 11px;
        color: var(--bf-tx-lesser);
      }
    }

    &:global(__bd) {
      display: -webkit-box;
      height: 2.2rem;
      margin-top: 8px;
      overflow: hidden;
      -webkit-line-clamp: 2;
      font-size: 12px;
      line-height: 1.5;
      color: var(--bf-tx-summary);
      -webkit-box-orient: vertical;
    }
  }
}
